---
json_folder_path: files/geo_data
solr_host: <%= @pr_indexer_solr_host %>
solr_port: <%= @pr_indexer_solr_port %>
auth_file_marc: <%= @marc_auth_file %>
bib_file_marc: <%= @marc_bib_file %>
image_metadata_folder_name: <%= @image_metadata_folder_name %>
app_root: <%= @pr_indexer_traject_code_path %>
masked_registers: <%= @pr_indexer_masked_registers %>
